<label class="flex items-center w-full gap-2 col-span-full lg:h-12 sm:h-24">
    <small id="current-time" class="text-gray-100 sm:text-2xl lg:text-sm">0:00</small>
    <input id="playback" type="range" value="0" class="rounded-full flex-1 lg:h-3 sm:h-6">
    <small id="duration-time" class="text-gray-100 sm:text-2xl lg:text-sm">3:59</small>
</label>

<span class="flex gap-5 justify-center">
    <input id="backward-button" name="backward" type="submit" class="hidden" />
    <label for="backward-button" class="flex justify-center items-center lg:w-12 lg:h-12 sm:w-24 sm:h-24 border-2 border-gray-100 rounded cursor-pointer hover:opacity-75">
        <img id="backward" class="lg:w-6 lg:h-6 sm:w-12 sm:h-12 text-gray-100" src="icons/skip-back.svg" alt="back">
    </label>

    <input id="play-button" name="play" type="submit" class="hidden" />
    <label for="play-button" class="flex justify-center items-center lg:w-12 lg:h-12 sm:w-24 sm:h-24 border-2 border-gray-100 rounded cursor-pointer hover:opacity-75">
        <img id="play" class="lg:w-6 lg:h-6 sm:w-12 sm:h-12 text-gray-100" src="icons/play.svg" alt="play">
    </label>

    <input id="forward-button" name="forward" type="submit" class="hidden" />
    <label for="forward-button" class="flex justify-center items-center lg:w-12 lg:h-12 sm:w-24 sm:h-24 border-2 border-gray-100 rounded cursor-pointer hover:opacity-75">
        <img id="forward" class="lg:w-6 lg:h-6 sm:w-12 sm:h-12 text-gray-100" src="icons/skip-forward.svg" alt="forth">
    </label>
</span>
