<label class="flex items-center w-full gap-2 col-span-full h-12">
    <small id="current-time" class="text-gray-100">00:00</small>
    <input id="playback" type="range" value="0" class="rounded-full flex-1">
    <small id="duration-time" class="text-gray-100">59:59</small>
</label>

<span class="flex gap-5 justify-center">
    <input id="play-button" name="play" type="submit" class="hidden" />
    <label for="play-button" class="flex justify-center items-center w-12 h-12 border-2 border-gray-100 rounded cursor-pointer hover:opacity-75">
        <svg id="play" class="w-6 h-6 text-gray-100">
            <use xlink:href="/icons/play.svg"></use>
        </svg>
    </label>
</span>
